<ion-app>
  <ion-menu side="start" menuId="first" contentId="main-content">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>Aplicación De Tránsito</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <ion-list>
        <ion-item lines="none" routerLink="/home" routerDirection="root">
          <ion-icon name="car-outline" slot="start"></ion-icon>
          <ion-label>Principal</ion-label>
        </ion-item>

        <ion-item lines="none" routerLink="/codigo-transito" routerDirection="root">
          <ion-icon name="book-outline" slot="start"></ion-icon>
          <ion-label>Código de tránsito</ion-label>
        </ion-item>

        <ion-item lines="none" routerLink="/senales-transito" routerDirection="root">
          <ion-icon name="warning-outline" slot="start"></ion-icon>
          <ion-label>Señales de tránsito</ion-label>
        </ion-item>

        <ion-item lines="none" routerLink="/infracciones-transito" routerDirection="root">
          <ion-icon name="ban-outline" slot="start"></ion-icon>
          <ion-label>Infracciones de tránsito</ion-label>
        </ion-item>

        <ion-item lines="none" routerLink="/recursos-transito" routerDirection="root">
          <ion-icon name="document-text-outline" slot="start"></ion-icon>
          <ion-label>Recursos de tránsito</ion-label>
        </ion-item>

        <ion-item lines="none" routerLink="/entidades-transito" routerDirection="root">
          <ion-icon name="business-outline" slot="start"></ion-icon>
          <ion-label>Entidades de tránsito</ion-label>
        </ion-item>

        <ion-item lines="none" routerLink="/configuracion" routerDirection="root">
          <ion-icon name="settings-outline" slot="start"></ion-icon>
          <ion-label>Configuración</ion-label>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>

  <ion-router-outlet id="main-content"></ion-router-outlet>

  <!-- Pestaña Flotante -->
  <app-floating-tab></app-floating-tab>

</ion-app>
