.create-account-container {
  max-width: 500px;
  margin: auto;
  padding: 20px;
}

ion-card {
  box-shadow: none;
  border-radius: 10px;
}

ion-item {
  --padding-start: 0;
  --inner-padding-end: 0;
  margin-bottom: 16px;
}

ion-button {
  margin-top: 20px;
}

a {
  text-decoration: none;
  cursor: pointer;
}