<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Código de Tránsito</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <ion-item *ngFor="let codigo of codigos">
      <ion-thumbnail slot="start" *ngIf="codigo.imageUrl">
        <img [src]="codigo.imageUrl" alt="Imagen de código">
      </ion-thumbnail>
      <ion-label>
        <h2>{{ codigo.title }}</h2>
        <p>{{ codigo.date ? (codigo.date.toDate() | date) : 'Fecha no disponible' }}</p>
        <p>{{ codigo.content }}</p>
      </ion-label>
      <ion-button color="danger" (click)="eliminarCodigoTransito(codigo)">
        <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>

  <!-- Botón flotante para agregar más entidades -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="success" (click)="agregarCodigoTransito()">
      <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>