<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Entidades de Tránsito</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-list>
    <ion-item *ngFor="let entidad of entidades">
      <ion-thumbnail slot="start" *ngIf="entidad.imageUrl">
        <img [src]="entidad.imageUrl" alt="Imagen de entidad">
      </ion-thumbnail>
      <ion-label>
        <h2>{{ entidad.title }}</h2>
        <p>{{ entidad.date ? (entidad.date.toDate() | date) : 'Fecha no disponible' }}</p>
        <p>{{ entidad.content }}</p>
      </ion-label>
      <ion-button color="danger" (click)="eliminarEntidad(entidad)">
        <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>

  <!-- Botón flotante para agregar más entidades -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="success" (click)="agregarEntidad()">
      <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>