<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Configuración</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="logout()">
        <ion-icon name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngIf="user">
    <ion-card-header>
      <ion-card-title>Datos del Usuario</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p><strong>Email:</strong> {{ user.email }}</p>
    </ion-card-content>
  </ion-card>
</ion-content>
