<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Home</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-segment [(ngModel)]="selectedSegment">
    <ion-segment-button value="todo">
      <ion-label>Todo</ion-label>
    </ion-segment-button>
    <ion-segment-button value="noticias">
      <ion-label>Noticias</ion-label>
    </ion-segment-button>
  </ion-segment>

  <ion-list>
    <ion-item *ngFor="let noticia of noticias">
      <ion-thumbnail slot="start">
       <!--<img [src]="noticia.imageUrl">-->
      </ion-thumbnail>
      <ion-label>
        <h2>{{ noticia.title }}</h2>
        <p>{{ noticia.date ? (noticia.date.toDate() | date) : 'Fecha no disponible' }}</p>
        <p>{{ noticia.content }}</p>
      </ion-label>
      <ion-button color="danger" (click)="eliminarNoticia(noticia)">
        <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>
    <!-- Botón flotante para agregar más entidades -->
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button color="success" (click)="createNews()">
        <ion-icon name="add-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab>
</ion-content>